body {
   background-color: rgb(247, 248, 250);
   color:rgb(17, 17, 17);
   font-size: 21px;
   border-spacing: 5px;
   margin: 10px;
   font-family: 'Inter', sans-serif;
   
}

.navBar {
background-color: rgb(247, 248, 250);
display: flex;
top: 0;
padding: 0;
width: 100%;
margin-bottom: 18px;
justify-content: space-between;

}

.navList  {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: flex-end;
 
}

.navList li {
display: inline;
padding: 14px 16px;
border-right: 1px solid rgb(240, 245, 252);
margin-top: 22px;
}

.navList li a {
text-decoration: none;
color:rgb(17, 17, 17)

}
.navList li a:hover {
  color: rgb(101, 6, 217);
}

.profile {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.sura {
   border-radius: 70%; 
    height: 70px;
    margin: 10px;
}

a{
  text-decoration: none;
  /* //color: black; */
}

section {
  padding:0px;
  margin: 10px;
}

h1,h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgb(42, 36, 48);
  font-size: 30px;
}

.experienceList {
display: flex;
flex-direction: column;
justify-content: flex-start;
flex-wrap: wrap;
/* width: 500px; */

}

.experienceList li{
 display: block;
 background-color: rgb(239, 245, 245); 
 border: 1px solid rgb(216, 202, 202);
 padding: 15px;
 margin: 10px;
}

.skill-card{
  display: flex !important;
  justify-content:space-between;
}


#skill li {
  display: inline-block;
  border: 3px solid blue;
  padding: 10px;
  margin: 20px;
  width: 80px;
} 

.leave_Message {
  font-size: 21px;
  color: blueviolet;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 25px;
  color: brown; 
}

textarea, input {
  font-size: 21px;
  padding: 5px;
  border: 2px solid black;
}


.formField {
  padding: 8px;
  margin: 5px;
}

button {
  margin-left: 10px;
  padding: 10px;
  width: 120px;
  box-shadow: 10px 5px 5px rgb(57, 43, 43);
  background-color: #0072e0;
  border: 1px solid rgb(112, 120, 4);
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 1px;
}
.removeBtn{
  background-color: red;
  justify-content: flex-end;
}

#message li {
  display:table;
  border-bottom: 2px solid rgb(169, 155, 155);
  background-color: rgb(253, 255, 255);
  display: flex;
}

#myFooter {
  background-color: rgb(214, 237, 237);
  word-spacing: 2px;
}

@media (max-width: 500px) {
  body {
    margin: 8px;
  }
  #skill li {
      display: inline-block;
      border: 3px solid blue;
      padding: 10px;
      margin: 10px;
      width: 100px;
      font-size: 30px;
  } 
  .experienceList {
    width: auto;
  }


@media (max-width: 330px) {
  .removeBtn {
      margin-top: 8px;
  }
}


@media (max-width: 400px) {
 .photo {
      border-radius: 30px;
 }
}
}

#man{
float: right;
height: 50px;
width: auto;
}
