body{
    background-color: black;
     color:white;
     font-size: 21px;

}

.photo {
    height: 100px;
    width: 30px;
    border-radius: 50%;
    border: 500px solid red;
} 
p{
    color: #ffcc00;
    width: 300px;
    margin: 100;
    border: 10px solid red;
    padding: 50px;
     
}

h1{
    font-size: 700px;
    background: rgb(194, 169, 173);
    color: greenyellow;
}
